---
- name: Install bookinfo application with mongodb TLS connection
  hosts: localhost
  gather_facts: false
  vars:
    - k8s_namespace: bookinfo
    - istio_src_dir: istio
    - app_src_dir: app
    - control_plane_name: mtls-install
    - control_plane_namespace: istio-system
    - mongodb_control_plane_namespace: istio-system-mongodb
    - bookinfo_password: redhat
    - mongodb_port: 27018
  tasks:
    - name: Create a k8s namespace
      k8s:
        name: "{{ k8s_namespace }}"
        api_version: v1
        kind: Namespace
        state: present

    - name: Opt into the Service Mesh Control Plane with ServiceMeshMember (your account needs the maistra-user role granted on the control plane to do this)
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        definition: "{{ lookup('template', '{{ istio_src_dir }}/templates/ServiceMeshMember.j2') }}"

    - name: Discover app deployment files
      find:
        paths: "{{ app_src_dir }}"
        patterns: "*.yml,*.yaml"
      register: app_files

    - name: Deploy bookinfo app
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        src: "{{ item.path }}"
      loop: "{{ app_files.files }}"

    - name: Get LoadBalancer ingress hostname
      k8s_info:
        api_version: v1
        name: mongo-ingressgateway
        kind: Service
        namespace: "{{ mongodb_control_plane_namespace }}"
      register: mongo_service_info

    - name: Deploy ratings-v2 with mongodb configs
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        definition: "{{ lookup('template', '{{ app_src_dir }}/templates/bookinfo-ratings-v2.j2') }}"
      vars:
        mongodb_url: "mongodb://bookinfo:{{ bookinfo_password }}@{{ mongo_service_info.resources[0].status.loadBalancer.ingress[0].hostname }}:{{ mongodb_port }}/test?authSource=test&ssl=true"

    - name: Discover istio deployment files
      find:
        paths: "{{ istio_src_dir }}"
        patterns: "*.yml,*.yaml"
      register: istio_files

    - name: Deploy istio gateway, virtualservices, and destinationrules for bookinfo app
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        src: "{{ item.path }}"
      loop: "{{ istio_files.files }}"

    - name: Get API Route Info in control plane namespace
      k8s_info:
        api_version: route.openshift.io/v1
        name: api
        kind: Route
        namespace: "{{ control_plane_namespace }}"
      register: route_info

    - name: Create Gateway in control plane namespace
      k8s:
        state: present
        namespace: "{{ control_plane_namespace }}"
        definition: "{{ lookup('template', '{{ istio_src_dir }}/templates/gateway-bookinfo-gateway.j2') }}"
      vars:
        route_hostname: "{{ route_info.resources[0].spec.host }}"

    - name: Create Virtual Service for productpage
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        definition: "{{ lookup('template', '{{ istio_src_dir }}/templates/virtualservice-bookinfo.j2') }}"
      vars:
        route_hostname: "{{ route_info.resources[0].spec.host }}"

    - name: Create ServiceEntry
      k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        definition: "{{ lookup('template', '{{ istio_src_dir }}/templates/serviceentry-mongo.j2') }}"
      vars:
        mongodb_host: "{{ mongo_service_info.resources[0].status.loadBalancer.ingress[0].hostname }}"
